.button-position {
    padding-left: 10px;
}

.text-position {
    padding-right: 20px;
    padding-left: 40%;
    margin-top: 5%;
}

.img-size {
    padding-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
